<div class="row">

  <div class="col-12 col-md-3 col-lg-2">
    <h2>Filters</h2>
    <!--<p>Location<br>Date</p>-->
    <!--<h5>Housing Type</h5>-->
    <div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="filterAppartments" [(ngModel)]="is_apartment">
        <label class="custom-control-label" for="filterAppartments">Appartment</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="filterHouses" [(ngModel)]="is_house">
        <label class="custom-control-label" for="filterHouses">House</label>
      </div>
    </div>
      <br>

    <h5>Facilities</h5>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="filterWiFi" [(ngModel)]="hasWifi">
      <label class="custom-control-label" for="filterWiFi">Wi-Fi</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="filterTV" [(ngModel)]="hasTv">
      <label class="custom-control-label" for="filterTV">Television</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="filterDryer" [(ngModel)]="hasDryer">
      <label class="custom-control-label" for="filterDryer">Dryer</label>
    </div><br>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="filterFamilyFriendly" [(ngModel)]="isFamilyFriendly">
      <label class="custom-control-label" for="filterFamilyFriendly">Family Friendly</label>
    </div>
  </div>
  <div class="col-12 col-md-9 col-lg-10">
    <h2>Housing</h2>
    <p *ngIf="!houses">No houses found</p>
    <div class="card-columns" *ngIf="houses">
      <div class="card" *ngFor= "let house of houses | filterHouseType: is_house : is_apartment : hasWifi : hasTv : hasDryer : isFamilyFriendly" routerLink="/house-preview/{{house.id}}">
        <img class="card-img-top"
             src="../../../assets/img/{{house.thumbnail_image}}"
             alt="Card image cap">
        <div class="card-body">
          <p class="card-title">{{ house.headline }}</p>
          <p class="card-text">{{ house.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<ul>-->
  <!--&lt;!&ndash;<li *ngFor="let house of onGetHouses()">{{house}}</li>&ndash;&gt;-->
<!--</ul>-->

<!--<div *ngFor="let filterItem of checked()">{{ filterItem.value }}</div>-->
<!--<ul>-->
  <!--<li *ngFor= "let item of houses | filterHouseType: is_house"> {{ item.headline }}</li>-->
<!--</ul>-->
