.carousel {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -40px;
}

.image-slider {
  height: 45vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron {
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px 15px 5px;
}

.list-group-item {
  padding: .75rem 0;
}
