<div *ngIf="house" id="house">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let item of houseImgs">
      <div class="image-slider" [style.background]="'url(../../../assets/img/' + item + ')'"></div>
    </ng-template>
  </ngb-carousel>
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <button id="btn-book" type="button" class="btn btn-primary btn-lg float-right" style="margin-top: 5px;"
              routerLink="/booking/{{ house.id}}"
              *ngIf="loginService.isLoggedIn">Book
      </button>
      <button type="button" class="btn btn-primary btn-lg float-right" style="margin-top: 5px;" routerLink="/register"
              *ngIf="!loginService.isLoggedIn">Register to Book
      </button>
      <h5>{{ house.headline }}</h5>
      <p>{{ house.address }}</p>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-md-4 order-md-2">
      <div class="card border-light mb-3">
        <div class="card-header">
          <h2 class="mb-0"><i class="fas fa-info-circle"></i> Description</h2>
        </div>
        <div class="card-body">
          <p>{{ house.description }}</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 oder-md-1">
      <div class="card border-light mb-3">
        <div class="card-header">
          <h2 class="mb-0"><i class="fas fa-calculator"></i> Economy</h2>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Pricing: {{ house.price }} DKK per Night</li>
            <li class="list-group-item">Space: {{ house.space }} km<sup>2</sup></li>
            <li class="list-group-item">Housing Type: {{ house.is_house ? 'House' : 'Apartment' }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 order-3">
      <div class="card border-light mb-3">
        <div class="card-header">
          <h2 class="mb-0"><i class="fas fa-tv"></i> Facilities</h2>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><h6>Family friendly:
              <span class="badge badge-pill float-right" [ngClass]="(house.familyfriendly)?'badge-success':'badge-danger'">
                {{ house.familyfriendly ? 'Yes' : 'No' }}
              </span>
            </h6></li>
            <li class="list-group-item"><h6>Has WiFi:
              <span class="badge badge-pill float-right" [ngClass]="(house.wifi)?'badge-success':'badge-danger'">
                {{ house.wifi ? 'Yes' : 'No' }}
              </span>
            </h6></li>
            <li class="list-group-item"><h6>Has TV:
              <span class="badge badge-pill float-right" [ngClass]="(house.tv)?'badge-success':'badge-danger'">
                {{ house.tv ? 'Yes' : 'No' }}
              </span>
            </h6></li>
            <li class="list-group-item"><h6>Has Dryer:
              <span class="badge badge-pill float-right" [ngClass]="(house.dryer)?'badge-success':'badge-danger'">
                {{ house.dryer ? 'Yes' : 'No' }}</span>
            </h6></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div>
