<script src="new-house-form.component.ts"></script>

<div class="row">
  <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
    <h2>Add a New House</h2>
    <form [formGroup]="createHouseFrm" (submit)="onSubmit(createHouseFrm)">
      <div class="form-group">
        <label>Headline</label>
        <input formControlName="houseHeadline" class="form-control">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea formControlName="houseDescription" class="form-control" rows="2"></textarea>
      </div>
      <div class="form-group">

      </div>
      <div class="form-group">
        <label>Address</label>
        <input formControlName="houseAddress" class="form-control">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-12 col-sm-6">
            <label>Space</label>
            <div class="input-group mb-3">
              <input formControlName="houseSpace" class="form-control" aria-describedby="spaceunit-addon">
              <div class="input-group-append">
                <span class="input-group-text" id="spaceunit-addon">M<sup>2</sup></span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <label>Price per Night</label>
            <div class="input-group mb-3">
              <input formControlName="housePrice" class="form-control" aria-describedby="currency-addon">
              <div class="input-group-append">
                <span class="input-group-text" id="currency-addon">DKK</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Housing Type</label>
        <select formControlName="houseType" class="form-control">
          <option value="appartment">Appartment</option>
          <option value="house">House</option>
        </select>
      </div>

      <h5>Facilities</h5>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="filterWiFi" formControlName="hasWifi">
        <label class="custom-control-label" for="filterWiFi">Wi-Fi</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="filterTV" formControlName="hasTv">
        <label class="custom-control-label" for="filterTV">Television</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="filterDryer" formControlName="hasDryer">
        <label class="custom-control-label" for="filterDryer">Dryer</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="filterFamilyFriendly"
               formControlName="isFamilyFriendly">
        <label class="custom-control-label" for="filterFamilyFriendly">Family Friendly</label>
      </div>
      <div class="form-group">
        <label>Thumbnail Image</label>
        <input type="file" formControlName="houseThumbnail" class="form-control">
      </div>
      <div class="form-group">
        <label>Additional Images</label>
        <input multiple type="file" formControlName="houseImg1" class="form-control">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="createHouseFrm.invalid">Add House</button>
      </div>
    </form>
  </div>
</div>
